@model List<ListNoteViewModel>
@*@{
        ViewData["Title"] = "Archived";
    }*@
@foreach (var note in Model)
{
    <br />
    @note.Id <a href="/note/Delete/@note.Id">Archive note</a>
    <br />
    <h4>@note.Title</h4>
    <br /><p> @note.Description </p>
    <br />
    <h5>created on:  @note.StartDate </h5>
    <br />
    <h5>expires on:  @note.EndDate </h5>
   

    @if (note.ImageURL != null)
    {
        <br />
        <div class="col-4">
            <img src="@Url.Content(note.ImageURL)" alt="@note.ImageURL" width="200">
        </div>
    }
}