@model ArchiveNoteViewModel
@*@{
        ViewData["Title"] = "Archive Note";
    }*@

@Model.Id
<br />

@Model.Title

<br />

@Model.Description

<br />

@Model.EndDate

<br />

@Model.ImageURL

<h3>Do you want to archive this note?</h3>
@using (Html.BeginForm("Archive", "Note", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
   
    <Input type="submit" value="yes" />
}