@model List<ListNoteViewModel>
@*@{
        ViewData["Title"] = "Archived";
    }*@

<div class="row">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="col-4 littlenote">
            @*@Model[i].NoteId <a href="/note/delete/@Model[i].NoteId">deletenote </a> <a href="/note/archive/@Model[i].NoteId">archivenote</a>*@
            <a asp-area=" " asp-controller="Note" asp-action="FullView" asp-route-id="@Model[i].NoteId">

                <div class="littlenoteinner shadow">
                    <div class="noteheader">
                        <h3>@Model[i].Title</h3>
                        <hr class="whitehr">
                        <p class="text-end">@Model[i].EndDate</p>
                    </div>
                    <p>
                        @Model[i].Description

                    </p>
                </div>
            </a>
        </div>
        @if (i % 3 == 2)
        {
            <br />
        }

    }

</div>


@*@foreach (var note in Model)
{
    <br />
    @note.Id <a href="/note/Delete/@note.Id">Archive note</a>
    <br />
    <h4>@note.Title</h4>
    <br /><p> @note.Description </p>
    <br />
    <h5>created on:  @note.StartDate </h5>
    <br />
    <h5>expires on:  @note.EndDate </h5>
   

    @if (note.ImageURL != null)
    {
        <br />
        <div class="col-4">
            <img src="@Url.Content(note.ImageURL)" alt="@note.ImageURL" width="200">
        </div>
    }
}*@