@model IEnumerable<WebAppPoNote.Data.Note>

    @*@{
            ViewData["Title"] = "Full View";
            //Layout = "~/Views/Shared/_Layout.cshtml";
        }*@

    @foreach (WebAppPoNote.Data.Note item in Model)
    {

        <div id="fullnoteview">
            <div class="fullnoteviewtitle row">
                <div>
                    <h1>
                        @item.Title
                    </h1>
                    <p class="text-end">@item.EndDate</p>
                    <hr class="bluehr">
                </div>
                @if (item.ImageURL != null)
                {
                <div class="col-4">
                    <img src="@Url.Content(item.ImageURL)" alt="@item.ImageURL" width="200" >
                </div>
                }
                <div class="col-8">
                    <p>
                        @item.Description
                    </p>
                    <hr class="bluehr">
                </div>
                <!-- <hr class="bluehr"> -->

            </div>
            <div class="row">
                <form class="col-4" action="/Note/Delete/@item.Id" method="get">
                    <button type="submit" class="btn submitregister">Delete</button>
                </form>
                <form class="col-4" action="/Note/Update/@item.Id" method="get">
                    <button type="submit" class="btn submitregister">Edit</button>
                </form>
                <form class="col-4" action="/Note/Archive/@item.Id" method="get">
                    <button type="submit" class="btn submitregister">Archive</button>
                </form>
            </div>
        </div>

    }
