@model List<ListNoteViewModel>
@{
    ViewData["Title"] = "My Notes";
}

<div class="row">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="col-4 littlenote">
            @Model[i].Id <a href="/note/delete/@Model[i].Id">deletenote </a> <a href="/note/archive/@Model[i].Id">archivenote</a>
            <a asp-area=" " asp-controller="Note" asp-action="FullView" asp-route-id ="@Model[i].Id">

                <div class="littlenoteinner shadow">
                    <div class="noteheader">
                        <h3>@Model[i].Title</h3>
                        <hr class="whitehr">
                        <p class="text-end">@Model[i].EndDate.</p>
                    </div>
                    <p>
                        @Model[i].Description

                    </p>
                </div>
            </a>
        </div>
        @if (i % 3 == 2) 
        { 
            <br />
        }
     
    }

</div>


